.contact {
    .contactLink {
        margin: 0 50px;
        h1 {
            margin-top: 0;
            text-align: center;
            font-size: 36px;
        }
        .icon {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            background-size: 150px 150px;
            background-repeat: no-repeat;
            background-image: url('../../../../assets/images/logo.png');
        }
        p {
            font-weight: 700;
            font-size: 16px;
            color: #666;
            .link {
                color: #00a0c8;

            }
        }

    }
    .form-group {
        label {
            display: block;
            font-weight: bold;
            margin: 10px 0;
        }
        input {
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        textarea {
            width: 100%;
            resize: 0;
            padding: 6px 12px;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    }
    button {
        width: 100%;
        padding: 10px 20px;
        margin: 10px 0 20px 0; 
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        outline: none;
        border: 1px solid #eee;
        border-radius: 5px;
    }
    .checkError {
        line-height: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        background-color: #D32F2F;
        border: 1px solid #D32F2F;
    }
    .okloadding {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        color: #5cb85c;
        font-size: 76px;
    }
}