.detailsimg {
    // width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 78px;
    height: 500px;
    margin-top: 160px;
    img {
        width: 100%;
        height: 100%;
    }
}