<div class="banner"></div>
<div class="banner1"></div>
<div class="bannerImg">
  <img src="/images/banner-news.jpg" alt="">
</div>
<section class="container">
    <aside>
      <h3>News</h3>
      <ul>
        <li ><a routerLink="/news/whole" routerLinkActive="active">WHOLE</a></li>
        <li ><a routerLink="/news/activity" routerLinkActive="active">ACTIVITY</a></li>
        <li ><a routerLink="/news/newsProducts" routerLinkActive="active">NEW PRODUCTS</a></li>
        <li ><a routerLink="/news/creation" routerLinkActive="active">CREATION</a></li>
      </ul>
    </aside>
    <main>
      <router-outlet ></router-outlet>
    </main>
 </section>
