<div class="aboutInfo"></div>
<h1>ABOUT M5</h1>
<p>M5 stack is a modular stackable development device . The M stands for modular and 5 stands for the the units Compact 5 x 5 cm size .</p>
<p>The m5 stack aims to take the pain out of developing your New inventions and ideas. M5 stack comes packed with Sensors, wifi, bluetooth  a screen and its own power supply Which avoids the inconvenience of messy wires Strewn across Breadboards and adding new functionality is as simple as Stacking it on top of one of the many expansion modules or Plugging in a Unit via the handy grove connectors</p>