<div class="banner"></div>
<div class="banner1"></div>
<div class="bannerImg">
  <img src="/images/banner-product.jpg" alt="">
</div>
<section class="container">
   <aside>
     <h3>Product</h3>
     <ul>
        <li ><a routerLink="/product/core" routerLinkActive="active">CORE</a></li>
        <li ><a routerLink="/product/module" routerLinkActive="active">MODULE</a></li>
        <li ><a routerLink="/product/unit" routerLinkActive="active">UNIT</a></li>
        <li ><a routerLink="/product/accessory" routerLinkActive="active">ACCESSORY</a></li>
    </ul>
   </aside>
   <main>
      <router-outlet></router-outlet>
    </main>
</section>