<footer class="footer">
    <div class="info">
        <div class="describe">
            <p>版权所有：本网站图片归深圳市明栈信息科技有限公司所有。</p>
            <p>Address:Huaqiang.Narth,Futian,Shenzhen, Guangdong,China,HAX</p>
            <p> <span>Tel: 0755-8888-9999</span> <span> Fax: 0755-8888-9999</span> </p>
        </div>
        <div class="socialWapper">
            <div class="github socialitem"><a href="https://github.com/m5stack/M5Stack"></a></div>
            <div class="facebook socialitem"><a href="https://www.facebook.com/M5Stack"></a></div>
            <div class="tuite socialitem"><a href="https://twitter.com/M5Stack"></a></div>
            <div class="vk socialitem"><a href="https://vk.com/m5stack"></a></div>
        </div>
    </div>
</footer>