<div class="banner"></div>
<div class="banner1"></div>
<div class="downWapper">
  <div class="downContainer">
    <p> M5-Core-Schematic :</p>
    <span> <a href="http://res.m5stack.com/Schematic/M5-Core-Schematic_20171206.pdf" target="_blank">M5-Core-Schematic(20171206).pdf</a></span>
    <p> M5Stack Library : </p>
    <span> <a href="https://github.com/m5stack/M5Stack" target="_blank">https://github.com/m5stack/M5Stack</a></span>
    <p> M5Stack-IDF : </p>
    <span> <a href="https://github.com/m5stack/M5Stack-IDF" target="_blank">https://github.com/m5stack/M5Stack-IDF</a></span>
    <p> M5Stack-platformio : </p>
    <span> <a href="https://github.com/m5stack/M5Stack-platformio" target="_blank">https://github.com/m5stack/M5Stack-platformio</a></span>
    <p> M5Burner-for-windows : </p>
    <span> <a href="http://res.m5stack.com/M5Burner/M5Burner.zip">M5Burner-for-windows.zip</a></span>
    <p> ESP32-Arduino-IDE 1.8.5 :</p>
    <span><a href="https://pan.baidu.com/s/11YirLKCle9nva4MhA0oEhg" target="_blank"><i class="baiduyunpan"></i>百度云盘</a>
    </span><span><i class="yadi"></i><a href="https://yadi.sk/d/8SfJdVZp3UTRGN" target="_blank">YADI</a></span>
    <p> CP210X Driver :</p>
    <span><i class="windows"></i><a href="http://res.m5stack.com/Driver/CP210x_VCP_Windows.zip" target="_blank">Windows</a>
    </span><span><i class="mac"></i><a href="http://res.m5stack.com/Driver/CP210x_VCP_MacOS.zip" target="_blank">Mac</a></span>
    <span><i class="linux"></i><a href="http://res.m5stack.com/Driver/CP210x_VCP_Linux.zip" target="_blank">Linux</a></span>
  </div>
</div>